#codeEditor{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #272822;
}

#codeEditorTop{
	display: flex;
	justify-content: space-between;
	background-color: #363636;
	padding: 5px 10px;
	border-bottom: 1px solid black;
}
#codeEditorTop b{
	color: white;
	font-style: italic;
	align-self: center;
}
#codeEditorTop button, #codeEditorTop b{ flex-grow: 1; text-align: center; }

#codeEditorInput{ font-size: 18px; }